**/.DS_Store
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2022-12-17_171535.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_130650.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_133447.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_154255.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_154812.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_155337.zip
/PCB/KiCad/TraQAZoid-backups/TraQAZoid-2023-01-06_161257.zip
